---
import { Image } from 'astro:assets';
import '../styles/global.css';
import logo from '../img/logo.png'
import ImgBgBig from '../img/mainBg-big.jpg'
import ImgBgSmall from '../img/mainBg-small.jpg'
import team from '../img/Team.jpg'
import dojo from '../img/sala.jpg'
import kadra from '../img/kadran.jpg'
import morze from '../img/morze.jpg'
import pasja from '../img/pasja.jpg'

import wyjazdy from '../img/wyjazdy.jpg'
import egzamin from '../img/egzamin.jpg'
import msEuropy from '../img/msEuropy.jpg'



import kimono from '../img/Kimono.png'
import brain from '../img/brain.png'
import kick from '../img/kick.png'
import fists from '../img/fist.png'
import grafik from '../img/Grafik.png'




import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import Section from '../layouts/Section.astro';
---

<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Ełcki Klub Karate Shinkyokushin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c6f29183f5.js" crossorigin="anonymous"></script>
  </head>
<body>
  <Navigation/>
  
<header>
  <div class="header-bg">
    <div class="dark"></div>  
  </div>

  <div class="mainHeader">
    <Image class='mainLogo' src={logo} alt="logo klubu"/>
    <h1>Ełcki Klub Karate <br>Shinkyokushin</h1>
    <button class="mainBtn">poznaj nas</button>
  </div>
      
    </header>
    <main>

   
    
      <Section sectionTitle="o nas" sectionColor="white">
        <div class="about-us__box">

          <div class="about-us__box-img">
              <Image src={team} alt="Trenerzy" class="about-us__img">
          </div>
          <div class="about-us__box-text">
              <p class="about-us__text">Ełcki Klub Sportowy Karate Kyokushin to istniejący w Ełku
                  nieprzerwanie od 45 lat i nadal prężnie się rozwijający klub sportowy!
                  To grono niezwykłych ludzi z pasją, którzy ten klub tworzą!
                  To szczególne miejsce umożliwiające realizację sportowych ambicji na różnym poziomie! <br>
                  <br>
                  Przyjdź i sprawdź sam!
                                </p>
          </div>


      </div>
      </Section>

      <Section sectionTitle="Trenuj z Nami" sectionColor="blue">
        <div class="card-container">

          <div class="card">
            <div class="card-img inverted">
              <Image src={dojo} alt="sala karate" ></Image>
            </div>
            <div class="card-text">
              <h3 class="train-us__title">Nowoczesny Klub</h3>
                            <p class="train-us__text">
                                Nowoczesna klimatyzowana sala treningowa umożliwia zróżnicowane
                                treningi dopasowane do indywidualnych celów. Wysokiej jakości sprzęt sprzyja wygodzie i bezpieczeństwu podczas ćwiczeń, a estetyczny design tworzy motywujące otoczenie.
                                Klub dysponuje dwiema salami treningowymi, zewnętrznym parkiem treningowym oraz siłownią. 
            </div>
          </div>

          <div class="card inverted">
            <div class="card-img ">
              <Image src={kadra} alt="sala karate"></Image>
            </div>
            <div class="card-text">
              <h3 class="train-us__title">Wykwalifikowana kadra</h3>
                            <p class="train-us__text">
                              Wykwalifikowana kadra to niezwykle istotny element każdej
                              dziedziny, zapewniający wysoki poziom profesjonalizmu i kompetencji. Wykwalifikowani
                              instruktorzy są w stanie dostosować plany treningowe do indywidualnych potrzeb i
                              umiejętności każdej osoby, co przekłada się na lepsze rezultaty. 
            </div>
          </div>

          <div class="card">
            <div class="card-img ">
              <Image src={morze} alt="sala karate"></Image>
            </div>
            <div class="card-text">
              <h3 class="train-us__title">Wyjazdy</h3>
                            <p class="train-us__text">
                              Dużą zaletą trenowania karate są również wyjazdy - obozy,
                              seminaria, zawody na różnym poziomie. Atutem takich wydarzeń jest przede wszystkim
                              zdobywanie nowych umiejętności i ich doskonalenie. Ważnym elementem jest również
                              możliwość nawiązywania kontaktów z nowopoznanymi ludźmi dzielącymi tą samą pasję. 
            </div>
          </div>
          <div class="card ">
            <div class="card-img inverted">
              <Image src={pasja} alt="sala karate" ></Image>
            </div>
            <div class="card-text">
              <h3 class="train-us__title">Pasja</h3>
                            <p class="train-us__text">
                              Pasja do karate to głębokie zaangażowanie, które prowadzi do
                              ciągłego doskonalenia swoich umiejętności i poznawania filozofii tej sztuki walki.
                              Pasjonaci karate wyznają zasady szacunku, samoograniczenia i ducha sportowej
                              rywalizacji, które wpływają na ich codzienne życie. Ta pasja może przynieść głęboką
                              satysfakcję, rozwijając nie tylko umiejętności fizyczne, ale także charakter,
                              cierpliwość i wytrwałość. 
            </div>
          </div>

        </div>

      </Section>

      <Section sectionTitle="Dołącz do nas" >

        <div class="circles">

          <div class="circle-box one">
              <div class="circle-img">
                  <Image src={kimono} alt="kimono">
              </div>
              <div class="circle-text">
                  <p>Poznaj sztukę karate</p>
              </div>
          </div>

          <div class="circle-box two">
              <div class="circle-img">
                  <Image src={brain}alt="mózg">
              </div>
              <div class="circle-text">
                  <p>Zapanuj nad swoim umysłem</p>
              </div>
          </div>

          <div class="circle-box three">
              <div class="circle-img">
                  <Image src={kick} alt="kopiące postacie">
              </div>
              <div class="circle-text">
                  <p>Popraw kondycje fizyczną i wzmocnij swoje ciało</p>
              </div>
          </div>

          <div class="circle-box four">
              <div class="circle-img">
                  <Image src={fists} alt="ręce">
              </div>
              <div class="circle-text">
                  <p>Naucz się bronić </p>
              </div>
          </div>

      </div>

      </Section>

      <Section sectionTitle="Harmonogram Treningów" >

        
          
          <div class="schedule-box">
              <Image class="schedule" src={grafik} alt="Grafik Treningow">
          </div>

      </Section>


      <!-- <Section sectionTitle="Aktualności" >

        <div class="card-container card-news-container">

          <div class="card news-info">
            <div class="card-img news-info-img">
              <Image src={wyjazdy} alt="ręce"></Image>
            </div>
            <div class="card-text news-info-text">
              <h3 class="news-title">Letni obóz karate</h3>
                            <p class="news-text">
                              W lipcu w Kątach Rybackich odbył się 10-cio dniowy letni obóz karate dla dzieci i
                              młodzieży, zorganizowany przez Kluby karate z Grajewa, Giżycka i Ełku. Oprócz treningów
                              karate odbyło się wiele atrakcji w formie aktywnego wypoczynku wykorzystując pobyt przy
                              nadmorskich plażach.
            </div>
          </div>

          <div class="card news-info">
            <div class="card-img news-info-img">
              <Image src={egzamin} alt="ręce"></Image>
            </div>
            <div class="card-text news-info-text">
              <h3 class="news-title">Egzamin na stopnie kyu</h3>
                            <p class="news-text">
                              W czerwcu karatecy w Ełckim Klubie Karate walczyli o kolejne pasy. Był stres, emocje i
                                walka do samego końca. Jak w życiu, jak na każdym egzaminie jednym się powiodło inni
                                muszą spróbować raz jeszcze, bo warto walczyć i wierzyć w siebie. Wiele osób po seriach
                              !
            </div>
          </div>

          <div class="card news-info">
            <div class="card-img news-info-img">
              <Image src={msEuropy} alt="ręce"></Image>
            </div>
            <div class="card-text news-info-text">
              <h3 class="news-title">Mistrzostwa Europy Kadetów</h3>
                            <p class="news-text">
                              24 czerwca dwóch zawodników Ełckiego Klubu reprezentowało Polskę na Mistrzostwach Europy
                                Kadetów na Węgrzech. Niestety po starciu z bardzo doświadczonymi przeciwnikami Piotrek
                                Wenda i Oliwier Wrzosek wrócili bez medalu, lecz z motywacją do dalszej pracy. 
            </div>
          </div>
  

        </div>


      </Section> -->

    </main>
  

    <Footer />

  <script>
      const mainBtn = document.querySelector('.mainBtn')
      // const aboutDiv = document.querySelector('.about-us__box')


      const element = document.querySelector('.about-us__box')
      // element.scrollIntoView();

      mainBtn.addEventListener('click', () => element.scrollIntoView({ behavior: "smooth",block: "center"}))

   </script>



</body>
</html>

<style>
 
        /* ========================================= */
        /* HEADER */
        /* ========================================= */
        header{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100vh;
          width: 100vw;
          position: relative;
      

          
        }
        .header-bg{
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-image: url('../img/mainBg-small.jpg');
          background-position: center;
          background-size: cover;
          filter: blur(1.5px);
        }
        .dark{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.7);
            }
            .mainHeader{
              position: absolute;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
            }
            .mainLogo{
              width: 12rem;
              height: 12rem;
            }
            .mainHeader h1{
              text-align: center;
              text-transform: uppercase;
              color: white;
              font-size: 2.2rem;
              margin: 2rem 0 ;
            }
            .mainHeader button{
              text-transform: uppercase;
              padding: 1rem 2rem;
              background-color: transparent;
              color: white;
              border: 1px solid white;
              border-radius: 15px;
              font-size: 1rem;
              cursor: pointer;
              transition: background-color  0.5s;
              font-weight: bold;
            }
            .mainHeader button:hover{
              background-color:white ;
              color: black;
            }
            


        /* ========================================= */
        /* // HEADER */
        /* ========================================= */

         /* ========================================= */
        /*  MAIN - SECTION ABOUT */
        /* ========================================= */

        .about-us__box{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 1rem 3rem;
        }
        .about-us__box-img{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 50%;
        }
        .about-us__box-img img{
          width: 100%;
          height: 100%;
          /* width: 90%;
          height: 90%; */
          border-radius: 3%;
        }
        .about-us__box-text{
          text-align: left;
          width: 100%;
          height: 50%;
        }
        .about-us__text{
          font-size: 1.3rem;
        }
        /* ========================================= */
      /* /// MAIN - SECTION ABOUT  */
      /* ========================================= */
        /* ========================================= */
        /*  MAIN - SECTION TRAIN WITH US */
        /* MAIN - SECTION NEWS */
        /* ========================================= */
          .card-container{
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          .card-news-container{
          width: 90%;
          margin-bottom: 4rem;
          }

          .card{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            border: 1px solid black;
            border-radius: 15px;
            margin-bottom: 3rem;
            overflow: hidden;
          }
          .card-img {
            display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 20rem;
          border-bottom: 1px solid black;
        }
        .card-img img{
          width: 100%;
          height: 100%;
          /* object-fit: cover; */
          
        }
         
          .card-text{
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
          text-align: left;
          padding: 0 1rem;          
          }
          .card-text p{
            font-size: 1.2rem;
          }
          .card-text h3{
            
            font-size: 1.8rem;
            margin-bottom: 0.1rem;
          }
          /* ========================================= */
        /* /// MAIN - SECTION TRAIN WITH US */
         /* /// MAIN - SECTION NEWS */
        /* ========================================= */

        .news-info {
            flex-direction: column;
            width: 90%;
            max-width: 25rem;
            margin: 1rem 1.5rem ;
          }

         /* ========================================= */
        /*  MAIN - SECTION JOIN TO US */
        /* ========================================= */
          .circles{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin: 5rem 0;
          }

          .circle-box{
            margin: 2.4rem;
            height: 200px;
            width: 160px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
          }
          .circle-img{
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid rgba(0, 0, 0, 0.4);
            height: 140px;
            width: 140px;
            border-radius: 50%;
          }
          .circle-img img{
            width: 60%;
            height: 60%;
            transition: scale 1s;
          }
          .circle-img:hover img {
          scale: 1.1;
          }
          .circle-text {
           margin-top: 15px;
           height: 25%;
           width: 180px;
           text-align: center;
           font-size: 1.1rem;
          }

         /* ========================================= */
        /* // MAIN - SECTION JOIN TO US  */
        /* ========================================= */
        
         /* ========================================= */
        /*  MAIN - SCHELDUE  */
        /* ========================================= */
        
        .schedule-box {
         display: flex;
         align-items: center;
         justify-content: center;
          width: 100%;
          height: 100%;
        margin: 4rem 0;
        }
        .schedule{
          width: 85%;
          height: 100%;
          object-fit: contain;
        }

         /* ========================================= */
        /* // MAIN - SCHELDUE  */
        /* ========================================= */


        @media(min-width: 576px){
          /* ---------------------HEADER */
          .mainLogo{
              width: 15rem;
              height: 15rem;
            }
            .mainHeader h1{
              text-align: center;
              text-transform: uppercase;
              color: white;
              font-size: 2.5rem;
              margin: 2rem 0 ;
            }
            .mainHeader button{
              padding: 1rem 2rem;
              font-size: 1.2rem;
            }
    /* ---------------------- TRAIN WITH US */
            .card-img {
            display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 24rem;
          border-bottom: 1px solid black;
        }
     
        }

        @media(min-width: 768px){
          /* --------------ABOUT US */
        .about-us__box{
          flex-direction:row ;
        }
        .about-us__box-img{
          width: 80%;
          height: 60%;
        }
        .about-us__box-img img{
          width: 100%;
          height: 100%;
          border-radius: 3%;
        }
        .about-us__box-text{
          text-align: left;
          width: 60%;
          height: 100%;
          padding: 1.8rem 1rem;
        }
        .about-us__text{
          font-size: 1.1rem;
        }
        /* ---------------------- TRAIN WITH US */
          .card{
            flex-direction: row;
          }
           .news-info {
            flex-direction: column;
            
          }

        
          
          .card-img {
            width: 70%;
          }

          .news-info-img{
            width: 100%;
          }
        .inverted{
          order: 1;
        }


        .card-img img{
          width: 100%;
          height: 100%;
          object-fit:fill;
          
        }
        .card-text{
          
          padding: 0 1rem;   
          width: 50%;       
          }
          .news-info-text{
            width: 90%;
            padding: 1rem 1rem;
          }

          .card-text p{
            font-size: 1rem;
          }
          .card-text h3{
            font-size: 1.6rem;
            margin-bottom: 0.1rem;
          }
          /* ------------------- JOIN TO US  */

          .circle-box{
            height: 250px;
            width: 210px;
          }
          .circle-img{
            height: 165px;
            width: 165px;
          }

          .circle-text {
           font-size: 1.2rem;
          }
        }

        @media(min-width: 992px){
          /* --------------ABOUT US */
          .about-us__text{
          font-size: 1.5rem;
        }

          /* ---------------------- TRAIN WITH US */
          .card-text p{
            font-size: 1.3rem;
          }

          /* ------------------- JOIN TO US  */

          .circle-box{
            height: 280px;
            width: 280px;
          }
          .circle-img{
            height: 195px;
            width: 195px;
          }

          .circle-text {
           font-size: 1.4rem;
          }

          /* ==NEWS=================================================== */
           
          .card-news-container{
            flex-direction: row;
            flex-wrap: wrap;
            width: 90%;
          }
          .news-info {
            flex-direction: column;
            width: 40%;
            height: 37rem;
          }

          /* .news-info-img{
            height: 15rem;
          } */
          .news-info-text{
            height: 25rem; 
          }
          .news-info-text p{
            font-size: 1.1rem;
          }
          .news-info-text h3{
            font-size: 1.5rem;
          }
          

        }
        @media(min-width: 1200px){
          /* --------------ABOUT US */
          .about-us__text{
          font-size: 1.8rem;
        }

         /* ------------------- JOIN TO US  */

         .circle-box{
            height: 250px;
            width: 223px;
          } 
           .circle-img{
            height: 200px;
            width: 200px;
          } 

          .circle-text {
           font-size: 1.5rem;
          }
          /* --------------------NEWS */
          

          .news-info {
            flex-direction: column;
            width: 40%;
            height: 39rem;
          }

          .news-info-img{
            height: 35rem;
          }
          .news-info-text{
            height: 31rem; 
          }
          .news-info-text p{
            font-size: 1.2rem;
          }
          .news-info-text h3{
            font-size: 1.6rem;
          }



        }

        @media(min-width: 1400px){
          /* --------------ABOUT US */
          .about-us__text{
          font-size: 1.8rem;
        } 
        .about-us__box-text{
          text-align: left;
          width: 70%;
          height: 100%;
          padding: 1.8rem 1.5rem;
        }
        .news-info{
          margin: 1rem 1.1rem;
          width: 30%;
        }
        .news-info-img{
            height: 30rem;
          }
        .card-news-container{
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
          }
         
          .news-info-text h3{
            font-size: 1.5rem;
          }
      }
      
        
      @media (orientation: landscape) and (max-height:678px ) {
        .mainLogo{
          margin-top: 5rem;
          width: 90px;
          height: 90px;
        }
        .mainHeader h1{
          font-size: 1.5rem;
        }
        .mainHeader button{
          padding: 0.8rem 1.3rem;
          font-size: 1rem;
        }

        }
     



  
    </style>

 
 

 