---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
    import Footer from '../components/Footer.astro';
    import Section from '../layouts/Section.astro';

import bodhidarma from '../img/Bodhidharma.jpg'
import funakoshi from '../img/Funakoshi.jpg'
import oyama from '../img/oyama.jpg'
import kyokushin from '../img/kyokushin.png'
import KankuKyokushin from '../img/KankuKyokushin.jpg'
import shinkyokushin from '../img/Shinkyokushin.png'
import shinkyokushinKanku from '../img/ShinkyokushinKanku.png'
import { Image } from 'astro:assets';

---
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Ełcki Klub Karate Shinkyokushin | Karate</title>
  </head>
  <body>
    
    <Navigation/>
    <main>
        <Section sectionTitle="historia karate">

          <div class="history-text-container">

            <p>Funkcjonuje obecnie przekonanie, iż karate jest czysto japońską sztuką walki, podobnie jak sumo
                czy kendo. Tymczasem źródła historyczne wykazują, iż pierwszy zapis o sztuce walki pochodzi z
                roku 2500 p.n.e. a za kolebkę wszystkich dalekowschodnich systemów walki uważa się starożytne
                Chiny, a jeszcze wcześniej Indie. Droga jaką przebyło karate, nim trafiło do Japonii jest długa
                i liczy wiele wieków.

            </p>
            <div class="bodhidarma">
                <div class="bodhidarma-text">
                    <p>W 520r. n.e. Hinduski mnich Bodhidarma przybył pieszo z Indii do Chin, by nauczać tam
                        Buddyzmu. Studiował techniki ataku zwierząt i owadów oraz siły natury.
                        Łączył je ze
                        specialnymi technikami oddychania i tworzył podstawy legendarnego systemu walki bez
                        użycia
                        broni opartego na Księdze Wróżb i Przemian. Będąc w Chinach, wybudował światynię
                        Shaolin w prowincji Honan, gdzie udzielał mnichom swych nauk. Pomostem, którym karate
                        przedostało się z Chin do Japonii jest Okinawa, jedna Z wysp archipelagu Ryukyu, bẹdqca
                        W
                        tamtym czasie ważnym ośrodkiem pośrednictwa handlowego pomiędzy Chinami i Japonią.
                    </p>
                </div>
                <div class="bodhidarma-img">
                    <Image src={bodhidarma} alt="Bodhidharma">
                </div>
            </div>


            <p>W 1609 roku japoński ród Satsuma po porażce z rodem
                Tokugawa kieruje się w stronę archipelagu
                Ryukyu, wyprawiając militarną ekspedycję na Okinawę.
                Okupacja wyspy trwała ponad 250 lat. Zakaz
                posiadania wszelakiej broni zmusza tubylców do nauki
                walki wręcz. W zupełnej tajemnicy, najczęściej nocą,
                mieszkańcy Ryukyu korzystając z doświadczeń chińskich
                ćwiczyli metodę walki powstałą z połączenia różnych
                styli.
            </p>

            <div class="funakoshi">
                <div class="funakoshi-text">
                    <p> <span>CHUAN - FAI TODE</span> <br>
                        Jednym z mistrzów okinawskich byt Gichin Funakoshi
                        (1868 - 1957), zwany ojcem karate. Wywarł on ogromny
                        wpływ na japońskie Budo. Wprowadził ostatecznie do
                        użycia termin "karate", sama zaś sztuka, weszła obok
                        judo, kendo i aikido w skład japońskiego systemu sztuki
                        walki - Budo. Główną częścią nauk Funakoshiego były kata, W połączeniu z podstawowymi
                        ćwiczeniami i etykietą. Z
                        czasem jego styl walki przyjął nazwę Shotokan. </p>
                </div>
                <div class="funakoshi-img">
                    <Image src={funakoshi} alt="Gichin-Funakoshi">
                </div>

            </div>


            <p><span>Sosai Masutatsu Oyama</span> <br> Ostatni samurai, twórca potęgi Kyokushin,
                które obecnie uprawia na całym świecie kilkadziesiąt milionów ludzi.</p>

            <p>Masutatsu Oyama urodził się 27 lipca 1923 roku w
                wiosce niedaleko Gunsan w południowej Korei. Dwa
                lata później rodzice wysyłają go do siostry w Mandżurii.
                Jako uczeń szkoły podstawowej w Korei zaczyna studia
                chińskiego kempo, kilka lat później zdobywa swój
                pierwszy czarny pas. Następnie rozpoczyna naukę w
                Szkole Lotniczej w Tokio i wstępuje do szkoły karate gdzie
                ćwiczy pod okiem Gichina Funakoshiego. Jako 17-letni
                student zdobywa 2 dan w karate, jednocześnie uprawia
                judo i boks. W czasie wojny jak każdy młody
                japończyk gotów był oddać życie za cesarza i swój kraj.
                Młody Oyama wstępuje do oddziałów samobójczych -
                kamikadze. Od śmierci uchroniło go wtedy zakończenie
                działań wojennych. Po wojnie rozpoczyna studia na
                uniwersytecie Waseda. W 1947 roku wygrywa w Kioto I
                Otwarte Mistrzostwa Japonii w karate. W 1948 roku
                udaje się na górę Kiyosumi w prowincji Chiba, aby
                doprowadzić swą technikę do perfekcji i określić swoją
                drogę karate. Za jedyne wsparcie duchowe posiada
                pamiętniki wielkiego mistrza miecza Miyamoto Musashi,
                które pozwalają mu przetrwać w górach przez 18
                miesięcy. Po powrocie z gór Oyama jako jedyny w historii
                karateka decyduje się walkę z bykiem w Chiba, szukając
                w niej granic możliwości człowieka, zwierzę zostaje pokonane.
            </p>

            <p>KYOKUSHIN (ekstremum prawdy) tak nazwie karate
                kilka lat później. Lecz zanim to nastąpi wyjeżdża w 1952
                roku do USA, gdzie przez 11 miesięcy popularyzuje
                karate poprzez pokazy i konfrontacje z przedstawicielami
                innych systemów walki, ponownie też stawia czoło bykom.
                Staje się sławny przez cios "Shuto", którym
                potrafi ściąć rogi byka. "The New York Times" pisze o nim
       


                <p>W 1954 roku zostaje otwarte pierwsze dojo Oyamy w
                    Japonii. Sam mistrz podróżuje przez płd.-wsch. Azję
                    studiuąc wiele różnorodnych stylów walki. W 1957 roku
                    w czasie jednej z pokazowych walk z bykiem w Meksyku
                    zostaje ciężko ranny i 6 miesięcy przebywa w szpitalu. W
                    1958 roku wydaje książkę "What is karate", która staje
                    się bardzo popularna w Japonii. Oyama zostaje
                    zaproszony przez F.B.I. I West Point na pokazy i wykłady.
                    W Bangkoku, po wyzwaniu rzuconym przez Boks
                    Tajlandzki, dochodzi do walk publicznych z bokseromi
                    Thai - Japończycy wygrywają dwie z trzech rozegranych
                    walk. W 1962 roku Oyama nadaje w swoim dojo
                    pierwszych 20 czarnych pasów swoim uczniom.</p>
                    
                    <p>1 października 1963 roku powstaje Międzynarodowa
                        Organizacia Karate Kyokushinkai, z centralnym dojo
                Honbu w Tokyo. Były premier Japonii E. Sato, laureat
                nagrody Nobla, zostaje prezydentem organizacji.
                Rokrocznie rozpoczęto organizacię obozów letnich
                i zimowych oraz mistrzostw Japonii Kyokushin. W 1975
                roku odbywają sie pierwsze Otwarte Mistrzostwa Swiata
                Wszechstyli - zwycięża K. Sato z Kyokushin Tokyo.
                Aktualnie Międzynarodowa Organizacja Kyokushin Karate jest najbardziej
                dynamiczną i liczną organizacją karate na świecie. W
                ponad 120 krajach kyokushin uprawia ponad 2 milony ludzi.
            </p>
            <p>Twórca Kyokushin postanowił propagować swoje karate
                na całym świecie. Był pewien, że jest ono nie tylko sztuką
                walki, ale przede wszystkim nośnikiem tradycji i kultury Dalekiego Wschodu -
                wartości etycznych głoszonych przez Konfucjusza i Lao-Tse. Oyama zawsze powtarzał
                swoim uczniom, że karate zaczyna się i kończy na
                uprzejmości i że o ile rozwój fizyczny jest początkiem tej
                sztuki, o tyle rozwój duchowy jest celem ostatecznym.
                Dla lepszego wyeksponowania zasad etycznych
                kyokushin Japończycy stworzyli siedmiopunktowy kodeks
                moralny tej sztuki walki zwany "Przysięgą dojo" Jest W
                nim mowa o obowiązku szanowania starszych i rodziców, dążeniu
                do fizycznej i duchowej doskonałości oraz
                powstrzymywaniu sie od gwałtowności. W listopadzie 1993 roku
                "Ostatni Samuraj" przybył do Polski z okazji odbywającego się w
                Katowicach Pucharu Europy w Kyokushin Karate "Oyama Cup". Była to jego ostatnia
                podróż zagraniczna. Masutatsu Oyama zmarł na raka płuc 26 kwietnia 1994 roku. Miat
                71 lat.</p>
                
                <div class="oyama">
                    <div class="oyama-text">
                <p>"Nakreśliłem drogę rozwoju międzynarodowego Budo
                    Karate, które jest dostępne dla każdego człowieka na
                    świecie" pisał Masutatsu Oyama pod koniec życia - uważam,
                    że kyokushin karate może być nośnikiem mądrości tradycji płynących z orientalnej
                kultury, która
                przecież tak silnie związana jest ze współczesnym światem. Nawet kiedy umrę, mam
                nadzieję, że kyokushin nadal będzie rozwijało się tak długo, jak długo bẹdzie
                istniał rodzaj ludzki. Uważam, że karate jest najmocniejszą sztuką walki na Ziemi, a
                kyokushin
                najsilniejszą ze wszystkich. Uczy ono bowiem przyjmować wyzwania i stawiać im czoło
                poczuciu ducha walki.</p>
                
            </div>
           <div class="oyama-img">
               <Image src={oyama} alt="Masutatsu Oyama">
           </div>
   </div>




            <p><span>KYOKUSHIN</span><br>
                Kyokushin jest nazwą stylu karate bazującego na
                najskuteczniejszych elementach technicznych w naukowej metodyce treningów wzbogacanych o
                cwiczenia relaksacyjno - koncentrujące Zen wraz z etykietą i elementami filozofii Zen. </p>

            <div class="kyoku-img">
                <Image src={kyokushin} alt="kyoku shin kan">
            </div>

            <p>Kyoku znaczy ostateczny, zasadniczy lub podstawowy,
                Shin to prawda lub rzeczywistość, Kai znaczy przyłączyć
                się, wziąć udział. Symbolem Karate Kyokushinkai jest Kanku, które bierze swój początek z
                Kanku
                kata. W kata tym ręce wznosza się
                ku górze do pozycji, gdy przy otwartych dłoniach
                odwiedzionych kciukach opuszki palców wskazujących i
                kciuków stykają się. Tak właśnie powstaje
                powyższy symbol. Ostre wierzchołki - palce wyobrażają
                skrajność, szczyt czegoś. Szerokie odcinki -
                okolice nadgarstków oznaczają siłę, środek oznacza nieskończoność i głębię.
            </p>
            <p>Kanku umieszczony w okręgu oznacza ciąłość i okrężny ruch.</p>

            <div class="kanku-img">
                <Image src={KankuKyokushin} alt="kyokushin kanku">
            </div>

            <p>Po śmieci twórcy stylu Kyokushin Masutatsu Oyamy w 1994 roku Międzynarodowa Organizacja
                Karate (IKO) rozbiła się na kilka innych grup. Jeden z najlepszych uczniów Oyamy – Kenji
                Midori założył Shinkyokushin tworząc organizację alternatywną do IKO pod nazwą World Karate
                Organisation (WKO) zwaną też IKO2.</p>

            <div class="shin-img">
                <Image src={shinkyokushin} alt="kyoku shin kai">
            </div>

            <p>Założeniem Shinkyokushin jest kontynuowanie nauk Masutatsu Oyama i propagowanie filozofii
                kyokushin. Shihan Midori upatruje esencję karate w słowach Oyamy: „Trzymaj głowę nisko (bądź
                pokorny), oczy wysoko (bądź ambitny), miej usta zamknięte (bądź opanowany i spokojny
                wewnętrznie) bądź posłuszny wobec starszych i dawaj coś z siebie innym”. Kontynuując
                filozofię Kyokushin, Midori dodał pojęcie „Shin” co oznacza „umysł”. Głównym celem
                Shinkyokushin staje się zatem doskonalenie umysłu, co w swym ostatecznym wyrazie ma
                przyczyniać się do szerzenia pokoju na świecie.</p>

            <div class="kankuShin-img">
                <Image src={shinkyokushinKanku} alt="shinkyokushin kanku">
            </div>

        </div>

        </Section>


        <Section sectionTitle="Wymagania Egzaminacyjne Senior">

            <div class="accordion">

                <div class="accordion-box">
                    <button class="accordion-btn orange">
                        <!-- <i class="fas fa-cocktail"></i> -->
                        10 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">10 kyu – senior (pomarańczowy pas) powyżej 16 lat <br>
                            Minimum 2 miesiące ciągłego treningu<br>
                            Stopnie junior poniżej 16 lat<br>
                            10.1 kyu – Junior I część (pomarańczowy pas, 1 czerwony pagon)<br>
                            10.2 kyu – Junior II część (pomarańczowy pas, 2 czerwone pagony)<br>
                            Ogólne. <br>
                            • Znaczenie Karate-Do oraz Kyokushinkai<br>
                            • Właściwy sposób składania Karate-Gi<br>
                            • Właściwy sposób noszenia Karate-Gi<br>
                            • Etykieta Dojo<br>
                            • Ogólne ćwiczenia rozciągające i kondycyjne<br>
                            Pozycje<br>
                            • Yoi Dachi <br>
                            • Fudo Dachi <br>
                            • Zenkutsu Dachi <br>
                            Uderzenia<br>
                            • Seiken oi tsuki (chudan, jodan, gedan) <br>
                            • Seiken morote tsuki (chudan, jodan, gedan)<br>
                            Bloki<br>
                            • Seiken jodan uke <br>
                            • Seiken mae gedan barai <br>
                            • Seiken mae juji gedan barai <br>
                            Kopnięcia<br>
                            • Hiza ganmen geri <br>
                            • Kin geri<br>
                            Ippon Kumite<br>
                            Atak: Zenkutsu – Dachi, Seiken oi tsuki jodan<br>
                            Obrona: Zenkutsu – Dachi, Seiken jodan Uke, <br>Kontra: Kin geri.<br>
                            <br>

                            Testy sprawnościowo siłowe przeprowadzane są według uznania egzamniatora i dostosowane
                            do wieku oraz możliwości zdającego z uwagą na bezpieczeństwo zdającego.
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn orange">
                        <div class="pagon pagon__blue"></div>
                        9 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">9 kyu – Senior (pomarańczowy pas, niebieski pagon) – powyżej
                            16 lat<br>
                            Minimum 3 miesiące ciągłego treningu od ostatniego egzaminu<br>
                            Stopnie junior poniżej 16 lat<br>
                            9.1 kyu – Junior I część (pomarańczowy pas, niebieski pagon + 1 czerwony pagon)<br>
                            9.2 kyu – Junior II część (pomarańczowy pas, niebieski pagon + 2 czerwone pagony)<br>
                            Ogólne<br>
                            • Historia Karate-Do oraz Kyokushinkai<br>
                            • Znaczenie Kanku<br>
                            Pozycje<br>
                            • Sanchin Dachi <br>
                            • Kokutsu Dachi <br>
                            • Musubi Dachi <br>
                            Uderzenia (tsuki, uchi)<br>
                            • Seiken ago uchi <br>
                            • Seiken gyaku tsuki (chudan, jodan, gedan) <br>
                            Bloki (uke)<br>
                            • Seiken chudan uchi uke <br>
                            • Seiken chudan soto uke <br>
                            Kopnięcia (geri)<br>
                            • Mae geri chudan chusoku <br>
                            Kata<br>
                            • Taikyoku Sono ichi <br>
                            • Taikyoku Sono ni <br>
                            Ćwiczenia z oddechem<br>
                            • Nogare <br>
                            Ippon Kumite<br>
                            • Atak: Zenkutsu – Dachi, Seiken oi tsuki chudan<br>
                            • Obrona: Zenkutsu – Dachi, Seiken chudan uchi uke, Kontra: Seiken gyaku tsuki jodan<br>
                            Renraku:<br>
                            Seiken gyaku tsuki (chudan lub jodan), mae geri chudan chusoku, powrót do pozycji
                            walki<br>
                            Testy sprawnościowo siłowe przeprowadzane są według uznania egzamniatora i dostosowane
                            do wieku oraz możliwości zdającego z uwagą na bezpieczeństwo zdającego.
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn blue">

                        8 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">8 kyu – Senior (niebieski pas) – powyżej 16 lat<br>
                            Minimum 3 miesiące ciągłego treningu od ostatniego egzaminu<br>
                            Stopnie junior poniżej 16 lat<br>
                            8.1 kyu – Junior I część (niebieski pas, 1 czerwony pagon)<br>
                            8.2 kyu – Junior II część (niebieski pas, 2 czerwone pagony)<br>
                            Pozycje (dachi)<br>
                            • Kiba dachi<br>
                            Uderzenia (tsuki, uchi)<br>
                            • Seiken tate tsuki (chudan, jodan, gedan)<br>
                            • Seiken shita tsuki <br>
                            • Seiken jun tsuki (chudan, jodan, gedan)<br>
                            Bloki (uke)<br>
                            • Seiken morote chudan uchi uke <br>
                            • Seiken chudan uchi uke gedan barai <br>
                            Kopnięcia (geri)<br>
                            • Mae geri chusoku jodan<br>
                            Kata<br>
                            • Taikyoku Sono San <br>
                            Sanbon kumite wariant I
                            W pozycji Zenkutsu - Dachi:<br>
                            • I Krok atak: seiken oi tsuki jodan - obrona: seiken oi jodan uke<br>
                            • II Krok atak: seiken oi tsuki chudan – obrona: seiken oi soto uke<br>
                            • III Krok atak: seiken oi tsuki gedan – obrona: seiken oi mae gedan barai + seiken
                            gyaku tsuki chudan + seiken oi mae gedan barai<br>
                            Ippon Kumite<br>
                            • Atak: Zenkutsu – Dachi, mae geri chudan chusoku<br>
                            • Obrona: Kiba – Dachi (450), Seiken oi chudan Soto uke, Kontra: gyaku tate tsuki
                            jodan<br>
                            Renraku<br>
                            • Z pozycji walki, mae geri chudan chusoku, seiken gyaku tsuki chudan w zenkudsu dachi,
                            powrót do pozycji walki, mawate (seiken chudan uchi uke), krok w tył w pozycji walki
                            seiken chudan soto uke, seiken gedan barai, wejście do zenkudsu dachi, seiken gyaku
                            tsuki chudan, powrót do pozycji walki mawate (seiken chudan uchi uke) pozycja walki.<br>
                            Testy sprawnościowo siłowe przeprowadzane są według uznania egzamniatora i dostosowane
                            do wieku oraz możliwości zdającego z uwagą na bezpieczeństwo zdającego.
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn blue">
                        <div class="pagon pagon__yellow"></div>
                        7 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">7 kyu - Senior (niebieski pas, 1 żółty pagon) – powyżej 16
                            lat<br>
                            Minimum 3 miesiące ciągłego treningu od ostatniego egzaminu<br>
                            Stopnie Junior poniżej 16 lat<br>
                            7.1 kyu – Junior I część (niebieski pas, żółty pagon + 1 czerwony pagon)<br>
                            7.2 kyu – Junior II część ( niebieski pas, żółty pagon + 2 czerwone pagony)<br>
                            Pozycje (dachi)<br>
                            • Neko ashi dachi <br>
                            Uderzenia (tsuki, uchi)<br>
                            • Tettsui oroshi ganmen uchi <br>
                            • Tettsui komekami <br>
                            • Tettsui hizo uchi <br>
                            • Tettsui mae yoko uchi (jodan, chudan, gedan)<br>
                            • Tettsui yoko uchi (jodan, chudan, gedan) <br>
                            Bloki (uke)<br>
                            • Seiken mawashi gedan barai <br>
                            • Shuto mawashi uke <br>
                            Kopnięcia (geri)<br>
                            • Mae chusoku ke age <br>
                            • Teisoku mawashi soto keage <br>
                            • Heisoku mawashi uchi keage <br>
                            • Yoko sokuto keage <br>
                            Kata<br>
                            • Pinan Sono Ichi <br>
                            Dodatkowe ćwiczenie<br>
                            • Ibuki sankai<br>
                            • Nogare ura<br>
                            Ippon kumite<br>
                            • Atak: Zenkutsu – Dachi, Seiken oi tsuki gedan<br>
                            • Obrona: zenkutsu – Dachi, Seiken mawashi uke gedan barai, kontra: wysunięcie w przód
                            do Kokutsu – Dachi, Tettsui Mae yoko uchi jodan<br>
                            Kumite<br>
                            4 – walk z przeciwnikami zgodnie z przepisami dla kadetów, juniorów, seniorów<br>
                            Testy sprawnościowo siłowe przeprowadzane są według uznania egzamniatora i dostosowane
                            do wieku oraz możliwości zdającego z uwagą na bezpieczeństwo zdającego.
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn yellow">

                        6 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">6 kyu – Senior (żółty pas) – powyżej 16 lat<br>
                            Minimum 3 miesiące ciągłego treningu od ostatniego egzaminu<br>
                            Stopnie junior poniżej 16 lat<br>
                            6.1 kyu – Junior I część (żółty pas, 1 czerwony pagon)<br>
                            6.2 kyu – junior II część (żółty pas, 2 czerwone pagony)<br>
                            Pozycje (dachi)<br>
                            • Tsuru Ashi Dachi <br>
                            Uderzenia (tsuki, uchi)<br>
                            • Uraken shomen ganmen uchi <br>
                            • Uraken sayu ganmen uchi <br>
                            • Uraken hizo uchi <br>
                            • Uraken ganmen oroshi uchi <br>
                            • Uraken mawashi uchi <br>
                            • Nihon nukite (uderzamy w przód - Me tsuki) <br>
                            • Yonhon nukite (jodan, chudan) <br>
                            Bloki (uke)<br>
                            • Seiken juji uke (jodan, gedan) <br>
                            Kopnięcia (geri)<br>
                            • Kansetsu geri sokuto<br>
                            • Yoko geri sokuto chudan <br>
                            • Mawashi gedan geri (chusoku, haisoku) <br>
                            Kata<br>
                            • Pinan sono ni <br>
                            Ippon kumite<br>
                            • Atak: Zenkutsu – Dachi, Nihon Nukite jodan<br>
                            • Obrona: Zenkutsu – Dachi, Seiken juji uke jodan, Kontra: wysunięcie w przód do
                            Sanchin<br> – Dachi, uraken Shomen Gamnen Uchi<br>
                            <br>
                            Kumite<br>
                            Jiyu Kumite – wolna walka<br>
                            5 – walk z przeciwnikami zgodnie z przepisami dla kadetów, juniorów, seniorów<br>
                            Testy sprawnościowo siłowe przeprowadzane są według uznania egzamniatora i dostosowane
                            do wieku oraz możliwości zdającego z uwagą na bezpieczeństwo zdającego.
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn yellow">
                        <div class="pagon pagon__green"></div>
                        5 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">5 kyu – Senior (żółty pas, zielony pagon) – powyżej 16
                            lat<br>
                            Minimum 3 miesiące ciągłego treningu od ostatniego egzaminu<br>
                            Stopnie junior poniżej 16 lat<br>
                            5.1 kyu – Junior I część (żółty pas, zielony pagon + 1 czerwony pagon)<br>
                            5.2 kyu – Junior II część (żółty pas, zielony pagon + 2 czerwone pagony)<br>
                            Pozycje (dachi)<br>
                            • Moro ashi dachi <br>
                            Uderzenia (tsuki, uchi)<br>
                            • Shotei Uchi (jodan, chudan, gedan) <br>
                            • Jodan Hiji ate <br>
                            Bloki (uke)<br>
                            • Shotei Uke (jodan, chudan, gedan) <br>
                            Kopnięcia (geri)<br>
                            • Mawashi geri chudan (chusoku, haisoku) <br>
                            • Ushiro geri (chudan lub gedan) 3 sposoby <br>
                            Kata<br>
                            • Pinian sono san <br>
                            Ippon Kumite<br>
                            • Atak: Zenkutsu – Dachi, Seiken oi tsuki jodan,<br>
                            • Obrona: Zenkutsu – Dachi, Shotei uke jodan, Kontra: Moro Ashi – Dachi, shotei uchi
                            chudan<br>
                            Renraku:<br>
                            • Mae geri chudan chusoku, yoko geri chudan sokuto, ushiro geri chudan, gyaku tsuki
                            chudan.<br>
                            Kumite<br>
                            6 – walk z przeciwnikami zgodnie z przepisami dla kadetów, juniorów, seniorów<br>
                            Testy sprawnościowo siłowe przeprowadzane są według uznania egzamniatora i dostosowane
                            do wieku oraz możliwości zdającego z uwagą na bezpieczeństwo zdającego
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn green">

                        4 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">4 kyu – Senior (zielony pas) – powyżej 16 lat<br>
                            Minimum 6 miesięcy ciągłego treningu od ostatniego egzaminu<br>
                            Stopnie junior poniżej 16 lat<br>
                            4.1 kyu – Junior I część ( zielony pas, 1 czerwony pagon)<br>
                            4.2 kyu – Junior II część (zielony pas, 2 czerwone pagony)<br>
                            Pozycje (dachi)<br>
                            • Heisoku dachi <br>
                            • Uchi hachiji dachi <br>
                            Uderzenia (tsuki, uchi)<br>
                            • Shuto Sakotsu uchi <br>
                            • Shuto uchi komi <br>
                            • Shuto yoko ganmen uchi <br>
                            • Shuto hizo uchi <br>
                            • Shuto jodan uchi uchi <br>
                            Bloki (uke)<br>
                            • Shuto jodan uchi uke <br>
                            • Shuto jodan uke <br>
                            • Shuto chudan soto uke <br>
                            • Shuto chudan uchi uke <br>
                            • Shuto mae gedan barai <br>
                            • Shuto mawashi uke (mae)<br>
                            Kopnięcia (geri)<br>
                            • Yoko geri jodan sokuto<br>
                            • Mawashi geri jodan (chusoku, haisoku) <br>
                            • Ushiro geri jodan (3 metody) <br>
                            Kata<br>
                            • Sanchin no kata <br>
                            Ippon Kumite<br>
                            • Atak: Zenkutsu – Dachi, Seiken oi tsuki chudan<br>
                            • Obrona: Kokutsu – Dachi, Shuto chudan uchi uke Kontra: Jodan Yoko Geri <br>
                            Sanbon kumite wariant II<br>
                            • Atak (1): seiken oi tsuki jodan, obrona (1): Seiken jodan uke + trzeci krok z kontrą:
                            gyaku tsuki jodan<br>
                            • Atak (2): seiken oi tsuki chudan, obrona (2): Seiken chudan soto uke + trzeci krok z
                            kontrą gyaku tsuki chudan<br>
                            • Atak (3): seiken oi tsuki chudan, obrona (3): Seiken chudan uchi uke + trzeci krok z
                            kontrą gyaku tsuki chudan<br>
                            • Atak (4): mae geri chudan chusoku, obrona (4): mae gedan barai + trzeci krok z kontrą
                            gyaku mawashi geri jodan (po kopnięciu stawiamy nogę wprzód do zenkutsu dachi)
                            Kumite<br>
                            8 – walk z przeciwnikami zgodnie z przepisami dla kadetów, juniorów, seniorów<br>
                            Testy sprawnościowo siłowe przeprowadzane są według uznania egzamniatora i dostosowane
                            do wieku oraz możliwości zdającego z uwagą na bezpieczeństwo zdającego.

                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn green">
                        <div class="pagon pagon__brown"></div>
                        3 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">3 kyu – Senior (zielony pas, brązowy pagon) – powyżej 16
                            lat<br>
                            Minimum 6 miesięcy ciągłego treningu od ostatniego egzaminu<br>
                            Stopnie junior poniżej 16 lat<br>
                            3.1 kyu – Junior I część (zielony pas, brązowy pagon + 1 czerwony pagon)<br>
                            3.2 kyu – Junior II część (zielony pas, brązowy pagon + 2 czerwone pagony)<br>
                            Pozycje (dachi)<br>
                            • Kake dachi <br>
                            Uderzenia (tsuki, uchi)<br>
                            • Chudan hiji ate <br>
                            • Chudan mae hiji ate <br>
                            • Age hiji ate (jodan, chudan) <br>
                            • Ushiro hiji ate <br>
                            • Oroshi hiji ate <br>
                            Bloki (uke)<br>
                            • Shuto juji uke (jodan, gedan)<br>
                            Kopnięcia (geri)<br>
                            • Mae Kakato geri (jodan, chudan, gedan) <br>
                            Kata<br>
                            • Pinan Sono Yon <br>
                            Ippon Kumite<br>
                            • Atak: Zenkutsu – Dachi, Seiken oi tsuki jodan<br>
                            • Obrona: Zenkutsu – Dachi, jodan Shuto juji uke, Contra: kokutsu – Dachi, Ushiro Hiji
                            Ate<br>
                            Kumite<br>
                            10 – walk z przeciwnikami zgodnie z przepisami dla kadetów, juniorów, seniorów <br>
                            Testy sprawnościowo siłowe przeprowadzane są według uznania egzamniatora i dostosowane
                            do wieku oraz możliwości zdającego z uwagą na bezpieczeństwo zdającego.
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn brown">
                        <!-- <i class="fas fa-bell"></i> -->
                        2 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">2 kyu - (brązowy pas) – powyżej 16 lat<br>
                            Minimum 12 miesięcy ciągłego treningu od ostatniego egzaminu<br>
                            Stopnie junior poniżej 16 lat<br>
                            2.1 kyu – Junior I część (brązowy pas, 1 czerwony pagon)<br>
                            2.2 kyu – Junior II część (brązowy pas, 2 czerwone pagony)<br>
                            Ogólne<br>
                            • Główne zagadnienia karate-do, Kyokushin Karate i Światowej Organizacji Kyokushin
                            Karate<br>
                            • Zrozumienie ćwiczeń rozgrzewki i ćwiczeń rozciągających Karate. Umiejętność ich
                            demonstracji. <br>
                            Uderzenia (tsuki, uchi)<br>
                            • Hiraken tsuki (jodan, chudan) <br>
                            • Hiraken oroshi uchi <br>
                            • Hiraken mawashi uchi <br>
                            • Haishu (jodan, chudan) <br>
                            • Age jodan tsuki <br>
                            • Koken uchi (jodan, chudan, gedan)<br>
                            Bloki (uke)<br>
                            • Koken uke (jodan, chudan, gedan) <br>
                            Kopnięcia (geri)<br>
                            • Nidan tobi geri <br>
                            • Mae tobi geri (3 metody) <br>
                            Kata<br>
                            • Pinan sono go <br>
                            • Gekisai dai <br>
                            Ippon Kumite<br>
                            • Atak: Zenkutsu – Dachi, Jodan Hira Ken Tsuki<br>
                            • Obrona: Neko Ashi – Dachi, Jodan Koken Uke, Kontra: Kiba – Dachi (450), Jodan Age
                            Tsuki<br>
                            Kumite<br>
                            12 – walk z przeciwnikami zgodnie z przepisami dla kadetów, juniorów, seniorów <br>
                            Renraku<br>
                            • Cofnięcie i blok seiken mae gedan barai, wysunięcie w przód seiken ago uchi,
                            wysunięcie w przód seiken chudan gyaku tsuki, krok w przodu i kopnięcie hiza ganmen
                            geri, następnie mae geri chudan chusoku, mawashi geri chudan haisoku, ushiro geri
                            chudan, seiken mae gedan barai, seiken gyaku chudan tsuki. <br>
                            Testy sprawnościowo siłowe przeprowadzane są według uznania egzamniatora i dostosowane
                            do wieku oraz możliwości zdającego z uwagą na bezpieczeństwo zdającego.
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn brown">
                        <div class="pagon pagon__black"></div>
                        1 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">1 kyu (brązowy pas, czarny pagon) powyżej 16 lat<br>
                            Minimum 12 miesięcy ciągłego treningu od ostatniego egzaminu<br>
                            Stopnie junior poniżej 16 lat<br>
                            1.1 kyu – Junior I część (brązowy pas, czarny pagon + 1 czerwony pagon)<br>
                            1.2 kyu – Junior II część (brązowy pas, czarny pagon + 2 czerwone pagony)<br>

                            Uderzenia (tsuki, uchi)<br>
                            • Ryuto ken tsuki (jodan, chudan) <br>
                            • Naka Yubi ippon ken (jodan, chudan) <br>
                            • Oya yubi ippon ken <br>
                            Bloki (uke)<br>
                            • Kake uke (jodan, chudan) <br>
                            • Chudan haito uchi uke <br>
                            Kopnięcia (geri)<br>
                            • Jodan uchi haisoku geri <br>
                            • Oroshi uchi kakato geri <br>
                            • Oroshi soto kakato geri <br>
                            • Yoko tobi geri <br>
                            Kata<br>
                            • Yantsu <br>
                            • Tsuki no kata <br>
                            Ippon Kumite<br>
                            • Atak: Zenkutsu – Dachi, Seiken Oi Tsuki Chudan<br>
                            • Obrona: Kokutsu – Dachi, Chudan Haito Uchi Uke, Kontra: Jodan Haisoku Mawashi Geri<br>
                            Kumite<br>
                            • Jiyu Kumite – 15 walk z przeciwnikami zgodnie z przepisami dla kadetów, juniorów,
                            seniorów<br>
                            Renraku<br>
                            • Część 1: seiken chudan oi tsuki, seiken chudan gyaku tsuki, seiken chudan oi tsuki,
                            seiken gyaku shita tsuki, <br>
                            • Część 2: oi mawashi geri haisoku jodan (przednia noga), seiken chudan oi tsuki, seiken
                            chudan gyaku tsuki, mawashi geri haisoku jodan (tylnia noga).<br>

                            Testy sprawnościowo siłowe przeprowadzane są według uznania egzamniatora i dostosowane
                            do wieku oraz możliwości zdającego z uwagą na bezpieczeństwo zdającego.
                        </p>
                    </div>
                </div>

            </div>


        </Section>
        
        <Section sectionTitle="Wymagania Egzaminacyjne junior">

            <div class="accordion">


                <div class="accordion-box">
                    <button class="accordion-btn orange">
                        <div class="pagon pagon__red"></div>
                        10.1 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">10.1 kyu – junior (pomarańczowy pas z jednym czerwonym
                            pagonem) 15 lat i młodsi <br>
                            Minimum 2 miesiące ciągłego treningu<br>
                            Stopnie junior poniżej 16 lat<br>
                            Teoria <br>
                            • Właściwy sposób składania Karate-Gi<br>
                            • Właściwy sposób noszenia Karate-Gi<br>
                            • Etykieta Dojo<br>
                            Sprawność<br>
                            • Zaciskanie pięści, "kołyska" na plecach <br>
                            Pozycje<br>
                            • Fudo Dachi <br>
                            Uderzenia<br>
                            • Seiken oi tsuki (chudan, jodan, gedan) <br>
                            • Seiken morote tsuki (chudan, jodan, gedan)<br>
                            Bloki<br>
                            • Seiken morote gedan barai (kakewake uke) <br>
                            Kopnięcia<br>
                            • Hiza ganmen geri <br>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn orange">
                        <div class="pagon pagon__red "></div>
                        <div class="pagon pagon__red two"></div>
                        10.2 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">Minimum 2 miesiące ciągłego treningu od ostatniego egzaminu
                            <br>

                            Teoria <br>

                            • Znaczenie Karate-Do oraz Kyokushinkai <br>

                            • Przysięga Dojo <br>

                            Sprawność <br>

                            • „Kołyska” na brzuchu, skłon w przód /dłonie dotykają podłogi/ <br>

                            Pozycje <br>

                            • Yoi Dachi, Zenkutsu Dachi <br>

                            Uderzenia <br>

                            • Seiken sanbon tsuki (chudan, jodan, gedan), morote sanbon tsuki (chudan, jodan, gedan)
                            <br>

                            Bloki <br>

                            • Seiken mae gedan barai, Seiken jodan uke <br>

                            Kopnięcia <br>

                            • Kin geri <br>

                            Ippon Kumite <br>

                            • Atak: Zenkutsu – Dachi, seiken oi tsuki jodan Obrona: Zenkutsu – Dachi, seiken oi
                            jodan uke, Kontra: gyaku Kin geri
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn orange">
                        <div class="pagon pagon__blue"></div>
                        <div class="pagon pagon__red two"></div>
                        9.1 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">Minimum 3 miesiące ciągłego treningu od ostatniego egzaminu
                            <br>

                            Teoria <br>

                            • Znaczenie Kanku i Kokoro, Znaczenie słów Karate, Kyokushinkai i Shinkyokushinkai <br>

                            Sprawność <br>

                            • Przewrót w przód, skłon w przód rozkroku /łokcie dotykają podłogi/ <br>

                            • 5 pompek na dłoniach i kolanach, 5 przysiadów, 5 brzuszków <br>

                            Pozycje <br>

                            • Musubi Dachi <br>

                            Uderzenia (tsuki, uchi) <br>

                            • Seiken oi tsuki na trzy strefy poruszanie się w zenkutsu z mawatte <br>

                            Bloki (uke) <br>

                            • Seiken chudan soto uke <br>

                            Kopnięcia (geri) <br>

                            • Chusoku mae keage <br>

                            Kata <br>

                            • Kihon Sono ichi <br>

                            Ćwiczenia z oddechem <br>

                            • Nogare <br>

                            Ippon Kumite <br>

                            • Atak: Zenkutsu Dachi, Seiken oi tsuki chudan <br>

                            • Obrona: Zenkutsu Dachi, Seiken chudan soto uke , Kontra: Seiken gyaku tsuki jodan
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn orange">
                        <div class="pagon pagon__blue"></div>
                        <div class="pagon pagon__red two"></div>
                        <div class="pagon pagon__red three"></div>
                        9.2 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">Minimum 3 miesiące ciągłego treningu od ostatniego egzaminu
                            <br>

                            Teoria <br>

                            • Masutatsu Oyama – twórca Karate Kyokushin <br>
                            Sprawność <br>

                            • „Mostek” w tył, skłon w przód /głowa dotyka kolan/ <br>
                            • 10 pompek na dłoniach i kolanach, 10 przysiadów, 10 brzuszków <br>

                            Pozycje <br>

                            • Uchi hachiji dachi, Prawidłowe przyjęcie pozycji walki <br>

                            Uderzenia (tsuki, uchi) <br>

                            • Seiken gyaku tsuki na trzy strefy w zenkutsu z mawatte, Seiken ago uchi <br>

                            Bloki (uke) <br>

                            • Seiken chudan uchi uke <br>

                            Kopnięcia (geri) <br>

                            • Chusoku chudan mae geri <br>

                            Kata <br>

                            • Taikyoku Sono ichi, <br>

                            Ippon Kumite <br>

                            • Atak: Zenkutsu – Dachi, Seiken oi tsuki chudan <br>
                            • Obrona: Zenkutsu – Dachi, Seiken chudan uchi uke, Kontra: Seiken gyaku tsuki jodan
                            <br>

                            Renraku <br>

                            • Kumite dachi, Seiken gyaku tsuki (chudan lub jodan z wypadem), gyaku mae geri chudan
                            chusoku, powrót do pozycji walki
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn blue">
                        <div class="pagon pagon__red"></div>
                        8.1 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">Minimum 3 miesiące ciągłego treningu od ostatniego egzaminu
                            <br>

                            Teoria <br>

                            • przysięga Dojo <br>

                            Sprawność <br>

                            • Przewrót w tył, skłon w przód w rozkroku /głowa dotyka podłogi/ <br>
                            • 15 pompek na dłoniach i kolanach, 15 przysiadów, 15 brzuszków <br>

                            Pozycje <br>

                            • Sanchin Dachi, Kiba Dachi, Kumite Dachi poruszanie się krokiem dostawnym w przód i tył
                            (ori ashi, ori sagari) w Kumite Dachi <br>

                            Uderzenia (tsuki, uchi) <br>

                            • Seiken tate tsuki (chudan, jodan, gedan), Uraken shita tsuki <br>

                            Bloki (uke) <br>

                            • Seiken chudan uchi uke gedan barai <br>

                            Kopnięcia (geri) <br>

                            • Chusoku jodan mae geri <br>

                            Kata <br>

                            • Taikyoku Sono Ni <br>

                            Ippon Kumite <br>

                            • Atak: Zenkutsu – Dachi, mae geri chudan chusoku <br>
                            • Obrona: Kiba – Dachi yon ju go, Seiken oi chudan Soto uke, Kontra: gyaku tate tsuki
                            jodan <br>

                            Renraku <br>

                            • Poruszanie się w zenkutsu dachi do przodu, do tyłu i mawatte z oi uke/ gyaku tsuki
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn blue">
                        <div class="pagon pagon__red "></div>
                        <div class="pagon pagon__red two"></div>
                        8.2 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">Minimum 3 miesiące ciągłego treningu od ostatniego egzaminu
                            <br>

                            Teoria <br>

                            • Historia Karate-Do, <br>

                            Sprawność <br>

                            • Pady: yoko ukemi <br>

                            • 20 pompek na dłoniach i kolanach, 20 przysiadów, 20 brzuszków <br>

                            Pozycje (dachi) <br>

                            • Kokutsu Dachi, Kumite dachi poruszanie się w pozycji walki (przód –tył) przekrok
                            bokiem (okuri ashi) <br>

                            Uderzenia (tsuki, uchi) <br>

                            • Seiken jun tsuki – uderzenie w bok w pozycjach (chudan, jodan, gedan) <br>

                            Bloki (uke) <br>

                            • Seiken morote chudan uchi uke <br>

                            Kopnięcia (geri) <br>

                            • Teisoku soto mawashi keage <br>

                            Kata <br>

                            • Taikyoku Sono San <br>

                            Sanbon kumite wariant I <br>

                            W pozycji Zenkutsu – Dachi: <br>

                            • I Krok atak: seiken oi tsuki jodan – obrona: seiken oi jodan uke <br>

                            • II Krok atak: seiken oi tsuki chudan – obrona: seiken oi soto uke <br>

                            • III Krok atak: seiken oi tsuki gedan – obrona: seiken oi mae gedan barai + seiken
                            gyaku tsuki chudan + seiken oi mae gedan barai <br>

                            Ippon Kumite <br>

                            • ———————————– <br>

                            Renraku <br>

                            Z pozycji walki, mae geri chudan chusoku, seiken gyaku tsuki chudan w zenkudsu dachi,
                            powrót do pozycji walki, mawate (seiken chudan uchi uke), krok w tył w pozycji walki
                            seiken chudan soto uke, seiken gedan barai, wejście do zenkudsu dachi seiken gyaku tsuki
                            chudan, powrót do pozycji walki, mawatte (seiken chudan uchi uke) pozycja walki
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn blue">
                        <div class="pagon pagon__yellow"></div>
                        <div class="pagon pagon__red two"></div>
                        7.1 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">Minimum 3 miesiące ciągłego treningu od ostatniego egzaminu
                            <br>

                            Teoria <br>

                            • Historia Karate Kyokushinkai, <br>

                            Sprawność <br>

                            • Skłon głową do ziemi w siadzie w rozkroku <br>

                            • 15 pompek na dłoniach, 10 przeskoków z przysiadu nad partnerem, 10 „scyzoryków” z
                            leżenia na plecach <br>

                            Pozycje (dachi) <br>

                            • Poruszanie się w pozycji walki z przekrokiem w przód i w tył (kumi ashi) <br>

                            Uderzenia (tsuki, uchi) <br>

                            • Tettsui mae yoko uchi (jodan, chudan, gedan) <br>

                            • Tettsui yoko uchi (jodan, chudan, gedan) <br>

                            • Tettsui komekami uchi <br>

                            Bloki (uke) <br>

                            • Seiken mawashi gedan barai <br>

                            Kopnięcia (geri) <br>

                            • Heisoku (Sokuto) uchi mawashi keage <br>

                            Kata <br>

                            • Pinan Sono Ichi <br>

                            Ćwiczenia oddechowe <br>

                            • Gyaku Nogare <br>

                            Ippon kumite <br>

                            • Atak: Zenkutsu – Dachi, Seiken oi tsuki gedan <br>

                            • Obrona: zenkutsu – Dachi, Seiken mawashi uke gedan barai, kontra: Kokutsu – Dachi,
                            Tettsui Mae yoko uchi jodan <br>

                            Kumite <br>

                            • Jiu Kumite – ———————————————
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn blue">
                        <div class="pagon pagon__yellow"></div>
                        <div class="pagon pagon__red two"></div>
                        <div class="pagon pagon__red three"></div>
                        7.2 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">Minimum 3 miesiące ciągłego treningu od ostatniego egzaminu
                            <br>

                            Teoria <br>

                            • Historia Shinkyokushinkai, <br>

                            Sprawność <br>

                            • Pady: ushiro ukemi, <br>

                            • 20 pompek na dłoniach, 15 przeskoków z przysiadu nad partnerem, 15 „scyzoryków” z
                            leżenia na plecach <br>

                            Pozycje (dachi) <br>

                            • Neko ashi dachi, Kumite Dachi zejście z linii ataku hidari i migi <br>

                            Uderzenia (tsuki, uchi) <br>

                            • Tettsui ganmen oroshi uchi, Tettsui hizo uchi, Seiken jun tsuki (na trzy strony) <br>

                            Bloki (uke) <br>

                            • Shuto mawashi uke <br>

                            Kopnięcia (geri) <br>

                            • Kansetsu geri (sokuto) <br>

                            Kata <br>

                            • Sakugi Kata Sono Ichi <br>

                            Ćwiczenia oddechowe <br>

                            • Ibuki sankai <br>

                            Ippon kumite <br>

                            • ———————————————— <br>

                            Kumite <br>

                            • Jiu Kumite – 4 – walk z przeciwnikami zgodnie z przepisami dla kadetów, juniorów,
                            seniorów
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn yellow">
                        <div class="pagon pagon__red"></div>
                        6.1 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">Minimum 3 miesiące ciągłego treningu od ostatniego egzaminu
                            <br>

                            Teoria <br>

                            • Liderzy Organizacji Shinkyokushinkai na Świecie <br>

                            Sprawność <br>

                            • Stanie na rękach pod ścianą <br>

                            • 25 pompek na dłoniach, 20 przeskoków z przysiadu nad klęczącym (na łokciach i
                            kolanach) partnerem, <br>

                            • 20 „scyzoryków” z leżenia na plecach <br>

                            Pozycje (dachi) <br>

                            • Heiko Dachi <br>

                            Uderzenia (tsuki, uchi) <br>

                            • Uraken shomen ganmen uchi, Uraken sayu ganmen uchi, Uraken hizo uchi, Uraken ganmen
                            oroshi uchi <br>

                            Bloki (uke) <br>

                            • Osai Uke <br>

                            Kopnięcia (geri) <br>

                            • Sokuto yoko keage <br>

                            • Gedan mawashi geri (chusoku, haisoku) <br>

                            Kata <br>

                            • Kihon Kata sono ni <br>

                            Ippon kumite <br>

                            • ———————————— <br>

                            Kumite <br>

                            • Jiu Kumite – 5 – walk z przeciwnikami zgodnie z przepisami dla kadetów, juniorów,
                            seniorów
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn yellow">
                        <div class="pagon pagon__red"></div>
                        <div class="pagon pagon__red two"></div>
                        6.2 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">Minimum 3 miesiące ciągłego treningu od ostatniego egzaminu
                            <br>

                            Teoria <br>

                            • Liderzy Organizacji Shinkyokushinkai w Polsce <br>

                            Sprawność <br>

                            • Gwiazda gimnastyczna na obie strony <br>
                            • 30 pompek na dłoniach, 25 przeskoków z przysiadu nad klęczącym (na łokciach i
                            kolanach), 10 podciągnięć kolan do klatki piersiowej w zwisie na drabinkach <br>

                            Pozycje (dachi) <br>

                            • Tsuru Ashi Dachi <br>

                            Uderzenia (tsuki, uchi) <br>

                            • Uraken mawashi uchi <br>
                            • Nihon nukite (uderzamy w przód – Me tsuki), Yonhon nukite (jodan, chudan) <br>

                            Bloki (uke) <br>

                            • Seiken juji uke (jodan, gedan) <br>

                            Kopnięcia (geri) <br>

                            • Mawashi geri chudan (haisoku i chusoku) <br>

                            Kata <br>

                            • Pinan Kata Sono Ni <br>

                            Ippon kumite <br>

                            • Atak: Zenkutsu – Dachi, Nihon Nukite jodan <br>
                            • Obrona: Zenkutsu–Dachi, Seiken juji uke jodan, Kontra: Sanchin–Dachi, uraken Shomen
                            Gamnen Uchi <br>

                            Kumite <br>

                            • Jiu Kumite – 6 – walk z przeciwnikami zgodnie z przepisami dla kadetów, juniorów,
                            seniorów
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn yellow">
                        <div class="pagon pagon__green"></div>
                        <div class="pagon pagon__red two"></div>

                        5.1 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">Minimum 3 miesiące ciągłego treningu od ostatniego egzaminu
                            <br>

                            Teoria <br>

                            • Liderzy Organizacji Shinkyokushinkai w Europie <br>

                            Sprawność <br>

                            • 35 pompek na dłoniach, 15 wyskoków z przysiadu z podciągnięciem kolan do klatki
                            piersiowej, 10 wznosów wyprostowanych nóg powyżej kąta prostego w zwisie na drabinkach
                            <br>

                            Pozycje (dachi) <br>

                            • Moro ashi dachi <br>
                            • Shiko dachi <br>

                            Uderzenia (tsuki, uchi) <br>

                            • Shotei Uchi (jodan, chudan, gedan) <br>
                            Bloki (uke) <br>

                            • Shotei Uke (jodan) <br>

                            Kopnięcia (geri) <br>

                            • Sokuto chudan yoko geri <br>

                            Kata <br>

                            • Taikyoku sono ichi – ura <br>

                            Ippon Kumite <br>

                            • Atak: Zenkutsu – Dachi, Seiken oi tsuki jodan, <br>

                            • Obrona: Zenkutsu – Dachi, Shotei uke jodan, Kontra: Moro Ashi – Dachi, shotei uchi
                            chudan <br>

                            Renraku <br>

                            • Mae geri chudan chusoku, kansetsu geri yon ju go, mawashi geri chudan, gyaku tsuki
                            chudan. <br>

                            Kumite <br>

                            • Jiu Kumite – 7 – walk z przeciwnikami zgodnie z przepisami dla kadetów, juniorów,
                            seniorów
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn yellow">
                        <div class="pagon pagon__green"></div>
                        <div class="pagon pagon__red two"></div>
                        <div class="pagon pagon__red three"></div>
                        5.2 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">Minimum 3 miesiące ciągłego treningu od ostatniego egzaminu
                            <br>

                            Teoria <br>

                            • Znajomość ogólnych zasad i przepisów walki sportowej <br>

                            Sprawność <br>

                            • 40 pompek na dłoniach, 20 wyskoków z przysiadu z podciągnięciem kolan do klatki
                            piersiowej, 15 wznosów wyprostowanych nóg powyżej kąta prostego w zwisie na drabinkach
                            <br>

                            • 6 przeskoków przód-tył nad pasem trzymanym oburącz <br>

                            Pozycje (dachi) <br>

                            • Shiko dachi <br>

                            Uderzenia (tsuki, uchi) <br>

                            • Jodan hiji ate, jodan mae hiji ate <br>

                            Bloki (uke) <br>

                            • Shotei Uke (chudan, gedan) <br>

                            Kopnięcia (geri) <br>

                            • Ushiro geri (chudan lub gedan) <br>

                            Kata <br>

                            • Pinian sono san <br>

                            Ippon Kumite <br>

                            • ——————————————————–

                            Renraku <br>

                            • Mae geri chudan chusoku, mawashi geri chudan haisoku, yoko geri chudan sokuto, ushiro
                            geri chudan, gyaku tsuki chudan. <br>

                            Kumite <br>

                            • Jiu Kumite – 8 – walk z przeciwnikami zgodnie z przepisami dla kadetów, juniorów,
                            seniorów
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn green">
                        <div class="pagon pagon__red"></div>
                        4.1 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">Minimum 6 miesięcy ciągłego treningu od ostatniego egzaminu
                            <br>

                            Ogólne <br>

                            • Wiedza na temat Światowej Organizacji Shinkyokushinkai <br>

                            Sprawność <br>

                            • 45 pompek na pięściach, 45 „brzuszków”, 25 wyskoków z podciągnięciem kolan do klatki
                            piersiowej, 6 wznosów wyprostowanych nóg „scyzoryk” w zwisie na drabinkach <br>

                            • 8 przeskoków przód-tył nad pasem trzymanym oburącz, 4 podciągnięcia na drążku
                            (nachwyt) <br>

                            Pozycje (dachi) <br>

                            • Heisoku dachi <br>

                            Uderzenia (tsuki, uchi) <br>

                            • Shuto Sakotsu uchi, Shuto uchi komi, Shuto yoko ganmen uchi <br>

                            Bloki (uke) <br>

                            • Shuto chydan uchi uke, Shuto jodan uke, Shuto chudan soto uke, Shuto mae gedan barai
                            <br>

                            Kopnięcia (geri) <br>

                            • Mawashi geri jodan (chusoku, haisoku) <br>

                            Kata <br>

                            • Sanchin no kata <br>

                            Ippon Kumite <br>

                            • Atak: Zenkutsu – Dachi, Seiken oi tsuki chudan <br>

                            • Obrona: Kokutsu – Dachi, Shuto chudan uchi uke Kontra: Jodan Yoko Geri <br>

                            Sanbon kumite wariant II <br>

                            • Atak (1): seiken oi tsuki jodan, • obrona (1): Seiken jodan uke + trzeci krok z
                            kontrą: gyaku tsuki jodan <br>

                            Atak (2): seiken oi tsuki chudan, obrona (2): Seiken chudan soto uke + trzeci krok z
                            kontrą gyaku tsuki chudan <br>

                            Kumite <br>

                            • Jiu Kumite – 9 walk z przeciwnikami zgodnie z przepisami dla kadetów, juniorów,
                            seniorów
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn green">
                        <div class="pagon pagon__red"></div>
                        <div class="pagon pagon__red two"></div>
                        4.2 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">Minimum 6 miesięcy ciągłego treningu od ostatniego egzaminu
                            <br>

                            Ogólne <br>

                            • Wiedza na temat Polskiej i Europejskiej Organizacji Shinkyokushinkai <br>

                            Sprawność <br>

                            • 50 pompek na pięściach, 50 „brzuszków”, 30 wyskoków z podciągnięciem kolan do klatki
                            piersiowej,8 wznosów wyprostowanych nóg „scyzoryk” w zwisie na drabinkach <br>

                            • 10 przeskoków przód-tył nad pasem trzymanym oburącz, 6 podciągnięcia na drążku
                            (nachwyt) <br>

                            Pozycje (dachi) <br>

                            • —————————- <br>

                            Uderzenia (tsuki, uchi) <br>

                            • Shuto hizo uchi, Shuto jodan uchi uchi <br>

                            Bloki (uke) <br>

                            • Shuto jodan uchi uke , Shuto mae mawashi uke <br>

                            Kopnięcia (geri) <br>

                            • Yoko geri jodan sokuto <br>

                            • Ushiro geri jodan <br>

                            Kata <br>

                            • Sakugi sono ni, Taikyoku sono ni–Ura <br>

                            Ippon Kumite <br>

                            • ————————— <br>

                            Sanbon kumite wariant II <br>

                            • Atak (3): seiken oi tsuki chudan, obrona (3): Seiken chudan uchi uke + trzeci krok z
                            kontrą gyaku tsuki chudan <br>

                            • Atak (4): mae geri chudan chusoku, obrona (4): mae gedan barai + trzeci krok z kontrą
                            gyaku mawashi geri jodan (po kopnięciu stawiamy nogę w tył do zenkutsu dachi) <br>

                            Kumite <br>

                            • Jiu Kumite – wolna walka – 10 walk z przeciwnikami zgodnie z przepisami dla kadetów,
                            juniorów, seniorów
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn green">
                        <div class="pagon pagon__brown"></div>
                        <div class="pagon pagon__red two"></div>
                        3.1 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">Minimum 6 miesięcy ciągłego treningu od ostatniego egzaminu
                            <br>

                            Teoria <br>

                            • Znajomość zasad i przepisów rozgrywania zawodów kumite <br>

                            Sprawność <br>

                            • 55 pompek na pięściach, 55 „brzuszków”, minimum 50 wejść na ławeczkę gimnastyczną w
                            ciągu 1 minuty, 9 wznosów wyprostowanych nóg „scyzoryk” w zwisie na drabinkach <br>

                            • 13 przeskoków przód-tył nad pasem trzymanym oburącz, 7 podciągnięcia na drążku
                            (nachwyt) <br>

                            Pozycje (dachi) <br>

                            • ————————————- <br>

                            Uderzenia (tsuki, uchi) <br>

                            • Chudan hiji ate , Chudan mae hiji ate, ushiro hiji ate <br>

                            Bloki (uke) <br>

                            • Shuto jodan juji uke <br>

                            Kopnięcia (geri) <br>

                            • Mae Kakato geri (chudan, gedan) <br>

                            Kata <br>

                            • Pinan sono yon <br>

                            Ippon Kumite <br>

                            • Atak: Zenkutsu – Dachi, Seiken oi tsuki jodan <br>

                            • Obrona: Zenkutsu – Dachi, jodan Shuto juji uke, Contra: kokutsu – Dachi, Ushiro hiji
                            ate <br>

                            Kumite <br>

                            • Jiu Kumite – 12 walk z przeciwnikami zgodnie z przepisami dla kadetów, juniorów,
                            seniorów
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn green">
                        <div class="pagon pagon__brown"></div>
                        <div class="pagon pagon__red two"></div>
                        <div class="pagon pagon__red three"></div>
                        3.2 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">Minimum 6 miesięcy ciągłego treningu od ostatniego egzaminu
                            <br>

                            Teoria <br>

                            • ——————————————- <br>

                            Sprawność <br>

                            • 60 pompek na pięściach, 60 „brzuszków”, minimum 60 wejść na ławeczkę gimnastyczną w
                            ciągu 1 minuty, 10 wznosów wyprostowanych nóg „scyzoryk” w zwisie na drabinkach <br>

                            • 15 przeskoków przód-tył nad pasem trzymanym oburącz, 8 podciągnięcia na drążku
                            (nachwyt) <br>

                            Pozycje (dachi) <br>

                            • Kake dachi <br>

                            Uderzenia (tsuki, uchi) <br>

                            • Age hiji ate /jodan, chudan/, Oroshi hiji ate <br>

                            Bloki (uke) <br>

                            • Shuto gedan juji uke <br>

                            Kopnięcia (geri) <br>

                            • Mae Kakato geri (jodan) <br>

                            Kata <br>

                            • Sakugi sono san <br>

                            Ippon Kumite <br>

                            • ——————————————– <br>

                            Kumite <br>

                            • Jiyu Kumite –15 walk z przeciwnikami zgodnie z przepisami dla kadetów, juniorów,
                            seniorów
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn brown">
                        <div class="pagon pagon__red"></div>
                        2.1 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">Minimum 12 miesięcy ciągłego treningu od ostatniego egzaminu
                            <br>

                            Teoria <br>

                            • Znajomość zasad i przepisów rozgrywania zawodów kata <br>

                            Sprawność <br>

                            • 65 pompek na pięściach, 15 pompek na 5 palcach, 65 „brzuszków”, minimum 80 wejść na
                            ławeczkę gimnastyczną w ciągu 90 sekund, 10 wznosów wyprostowanych nóg „scyzoryk” w
                            zwisie na drabinkach <br>

                            • 17 przeskoków przód-tył nad pasem trzymanym oburącz, 9 podciągnięcia na drążku
                            (nachwyt) <br>

                            Uderzenia (tsuki, uchi) <br>

                            • Hiraken tsuki /jodan, chudan/, Hiraken oroshi uchi, Hiraken mawashi uchi, Age jodan
                            tsuki <br>

                            Bloki (uke) <br>

                            • Koken uke (jodan) <br>

                            Kopnięcia (geri) <br>

                            • Nidan tobi geri <br>

                            Kata <br>

                            • Pinan sono go <br>

                            Ippon Kumite <br>

                            • Atak: Zenkutsu – Dachi, Jodan Hira Ken Tsuki <br>

                            • Obrona: Neko Ashi – Dachi, Jodan Koken Uke, Kontra: Kiba – Dachi yon ju go, Jodan Age
                            Tsuki <br>

                            Renraku <br>

                            • ——————————————————— <br>

                            Kumite <br>

                            • Jiyu Kumite – 17 walk z przeciwnikami zgodnie z przepisami dla kadetów, juniorów,
                            seniorów
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn brown">
                        <div class="pagon pagon__red"></div>
                        <div class="pagon pagon__red two"></div>
                        2.2 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">Minimum 12 miesięcy ciągłego treningu od ostatniego egzaminu
                            <br>

                            Teoria <br>

                            • ——————————————————- <br>

                            Sprawność <br>

                            • 70 pompek na pięściach, 20 pompek na 5 palcach, 70 „brzuszków”, minimum 90 wejść na
                            ławeczkę gimnastyczną w ciągu 90 sekund, 12 wznosów wyprostowanych nóg „scyzoryk” w
                            zwisie na drabinkach <br>

                            • 20 przeskoków przód-tył nad pasem trzymanym oburącz, 10 podciągnięcia na drążku
                            (nachwyt) <br>

                            Uderzenia (tsuki, uchi) <br>

                            • Haishu (jodan, chudan), Koken uchi (jodan, chudan, gedan) <br>

                            Bloki (uke) <br>

                            • Koken uke (chudan, gedan) <br>

                            Kopnięcia (geri) <br>

                            • Mae tobi geri /oi i gyaku/ <br>

                            Kata <br>

                            • Gekisai dai <br>

                            Ippon Kumite <br>

                            • ——————————————————– <br>

                            Renraku <br>

                            • Cofnięcie i blok seiken mae gedan barai, wysunięcie w przód seiken ago uchi,
                            wysunięcie w przód seiken chudan gyaku tsuki, krok w przodu i kopnięcie hiza ganmen
                            geri, następnie mae geri chudan chusoku, mawashi geri chudan haisoku, ushiro geri
                            chudan, seiken mae gedan barai, seiken gyaku chudan tsuki. <br>

                            Kumite <br>

                            • Jiyu Kumite – 20 walk z przeciwnikami zgodnie z przepisami dla kadetów, juniorów,
                            seniorów
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn brown">
                        <div class="pagon pagon__black"></div>
                        <div class="pagon pagon__red two"></div>
                        1.1 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">Minimum 12 miesięcy ciągłego treningu od ostatniego egzaminu
                            <br>

                            Sprawność <br>

                            • 75 pompek na pięściach, 15 pompek na koken, 75 „brzuszków”, minimum 100 wejść na
                            ławeczkę gimnastyczną w ciągu 2 minut, 12 wznosów wyprostowanych nóg „scyzoryk” w zwisie
                            na drabinkach <br>

                            • 22 przeskoki przód-tył nad pasem trzymanym oburącz, <br>

                            • 10 przeskoków techniką yoko tobi geri przez pas trzymanym na wysokości bioder, <br>

                            • 11 podciągnięcia na drążku (nachwyt) <br>

                            Uderzenia (tsuki, uchi) <br>

                            • Ryuto ken tsuki (jodan, chudan) <br>

                            Bloki (uke) <br>

                            • Chudan haito uchi uke <br>

                            Kopnięcia (geri) <br>

                            • Yoko tobi geri, Jodan uchi haisoku geri <br>

                            Kata <br>

                            • Tsuki no kata <br>

                            Ippon Kumite <br>

                            • Atak: Zenkutsu – Dachi, Seiken Oi Tsuki Chudan <br>

                            • Obrona: Kokutsu – Dachi, Chudan Haito Uchi Uke, Kontra: Jodan Uchi Haisoku Mawashi
                            Geri <br>

                            Renraku <br>

                            • —————————————————— <br>

                            Kumite <br>

                            • Jiyu Kumite – 22 walki z przeciwnikami zgodnie z przepisami dla kadetów, juniorów,
                            seniorów
                        </p>
                    </div>
                </div>
                <div class="accordion-box">
                    <button class="accordion-btn brown">
                        <div class="pagon pagon__black"></div>
                        <div class="pagon pagon__red two"></div>
                        <div class="pagon pagon__red three"></div>
                        1.2 KYU
                    </button>
                    <div class="accordion-info">
                        <p class="accordion-info-text">Minimum 12 miesięcy ciągłego treningu od ostatniego egzaminu
                            <br>

                            Sprawność <br>

                            • 80 pompek na pięściach, 20 pompek na koken, 80 „brzuszków”, minimum 120 wejść na
                            ławeczkę gimnastyczną w ciągu 2 minut, 15 wznosów wyprostowanych nóg „scyzoryk” w zwisie
                            na drabinkach <br>

                            • 25 przeskoków przód-tył nad pasem trzymanym oburącz, <br>

                            • 15 przeskoków techniką yoko tobi geri przez pas trzymanym na wysokości bioder, <br>

                            • 12 podciągnięcia na drążku (nachwyt) <br>

                            Uderzenia (tsuki, uchi) <br>

                            • Naka Yubi ippon ken /jodan, chudan/, Oya yubi ken /jodan,chudan/ <br>

                            Bloki (uke) <br>

                            • Kake uke (jodan, chudan) <br>

                            Kopnięcia (geri) <br>

                            • Oroshi uchi kakato geri <br>

                            • Oroshi soto kakato geri <br>

                            Kata <br>

                            • Yantsu, Taikyoku sono san–Ura <br>

                            Ippon Kumite <br>

                            • —————————————————— <br>

                            Renraku <br>

                            • seiken chudan oi tsuki, seiken chudan gyaku tsuki, seiken chudan oi tsuki, seiken
                            gyaku shita tsuki, <br>

                            • oi mawashi geri haisoku jodan, seiken chudan oi tsuki, seiken chudan gyaku tsuki,
                            gyaku mawashi geri haisoku jodan. <br>

                            Kumite <br>

                            • Jiyu Kumite – 25 walk z przeciwnikami zgodnie z przepisami dla kadetów, juniorów,
                            seniorów
                        </p>
                    </div>
                </div>

            </div>

        </Section>
        </main>
    <Footer />
<script>
    const accordion = document.querySelector(".accordion");
    const accordionBtns = document.querySelectorAll(".accordion-btn");
    const accordionPagon = document.querySelectorAll(".pagon");
    
    function openAccordionItems() {
        
        if (this.nextElementSibling.classList.contains("active")) {
            this.nextElementSibling.classList.remove("active");
            console.log('tak');
        } else {
            closeAccordionItem();
            this.nextElementSibling.classList.toggle("active");
            console.log('nie');
            
        }
    }
    
    const closeAccordionItem = () => {
        const allActiveItems = document.querySelectorAll(".accordion-info");
        allActiveItems.forEach((item) => item.classList.remove("active"))
    }
    
    const clickOutsideAccordion = e => {
        if (
            e.target.classList.contains("accordion-btn") ||
            e.target.classList.contains("accordion-info") ||
            e.target.classList.contains("accordion-info-text")
            )
            return
            closeAccordionItem()
        }
    
        accordionBtns.forEach(btn => btn.addEventListener("click", openAccordionItems));
    </script>
  </body>
</html>

<style>
    
    .history-text-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
  line-height: 35px;
padding: 0 1.5rem;
}
.history-text-container p {
    margin-bottom: 2em;
    font-size: 1.8rem;
}
.history-text-container span {
    margin-top: 20px;
    font-weight: 400;
    font-size: 2rem;
}

.bodhidarma,
.funakoshi,
.oyama {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bodhidarma-img,
.funakoshi-img,
.oyama-img,
.kyoku-img,
.kanku-img,
.shin-img,
.kankuShin-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.bodhidarma-img img,
.funakoshi-img img,
.oyama-img img,
.kyoku-img img,
.kanku-img img,
.shin-img img,
.kankuShin-img img {
    width: 90%;
    height: 90%;
}

.funakoshi {
    margin-bottom: 30px;
}

/* ------------------------- WYMAGANIA  */

.accordion {
    padding: 5px 0px;
    margin: 5rem auto;
    width: 85%;
    background-color: #fff;
    border-radius: 6px;
}

.accordion-box {
    margin: 20px;
}

.accordion-btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
    font-size: 30px;
    text-align: left;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.accordion-btn:hover,
.accordion-btn:focus {
  color: #fff;
  outline: none;
}

.accordion-btn:hover .fas,
.accordion-btn:focus {
    color: #fff;
    outline: none;
}

.accordion-info {
    display: none;
    padding: 1em 0em;
    font-size: 20px;
    width: 100%;
}
.accordion-info .accordion-info-text {
    line-height: 30px;
    font-size: 15px;
    width: 100%;
}

.orange {
    background-color: #f7a01f;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.brown {
    background-color: #964b00;
}

.pagon {
    position: absolute;
    top: 0;
    right: 20px;
  height: 100%;
  width: 15px;
}
.pagon__red {
    background-color: red;
}
.pagon__blue {
    background-color: blue;
}
.pagon__yellow {
    background-color: yellow;
}
.pagon__green {
    background-color: green;
}
.pagon__brown {
    background-color: #964b00;
}
.pagon__black {
    background-color: black;
}

.two {
    position: absolute;
    top: 0;
    right: 50px;
    height: 100%;
    width: 15px;
}

.three {
    position: absolute;
    top: 0;
    right: 80px;
    height: 100%;
    width: 15px;
}

.active {
  display: flex;
}


@media (min-width: 576px) {
    
    .pagon {
        right: 40px;
    width: 20px;
}
.two {
    right: 80px;
    width: 20px;
}
.three {
    right: 120px;
    width: 20px;
}
.accordion-info {
    padding: 1em 0.5em;
}
.accordion-info .accordion-info-text {
    line-height: 40px;
    font-size: 20px;
}
}
@media (min-width: 768px) {
    .bodhidarma-img img,
    .funakoshi-img img,
    .oyama-img img,
    .kyoku-img img,
    .kanku-img img,
    .shin-img img,
    .kankuShin-img img {
        width: 70%;
        height: 70%;
    }
}
@media (min-width: 992px) {
  
  .accordion-info {
    padding: 1em 2em;
  }
  .accordion-info .accordion-info-text {
    line-height: 45px;
    font-size: 25px;
  }
}


</style>